<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>BookOS</vendor>

  <action id="org.bookos.teclas.configurar">
    <description>Remap keyboard keys</description>
    <description xml:lang="es">Remapear las teclas del teclado</description>
    <message>Authentication is required to change what the keyboard keys do</message>
    <message xml:lang="es">Hace falta autenticarse para cambiar lo que hacen las teclas</message>
    <icon_name>input-keyboard</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

</policyconfig>
